.wcm-changelog-popup, .wcm-changelog-entryform {
    position: relative;
}

.wcm-changelog-entryform__message {
	padding-right: 3.5rem;
}

.wcm-changelog-entryform__remove {
	position: absolute;
	right: 0;
	top: 1rem;
}

.wcm-changelog__entry {
	display: flex;
}

.wcm-changelog__status {
	display: inline-block;
	font-size: .75rem;
	font-weight: 700;
	line-height: 1.125rem;
	height: 1.125rem;
	padding: 0 .375rem;
	text-transform: uppercase;
	background-color: transparent;
	border: 1px solid #b0b0b0;
	color: #081f2c;
	margin-right: .75rem;
}

.wcm-changelog__status--added {
	border: 1px solid #4aa32c;
	color: #4aa32c;
}

.wcm-changelog__status--changed {
	border: 1px solid #da291c;
	color: #da291c;
}

.wcm-changelog__status--deprecated {
	border: 1px solid #b0b0b0;
	color: #b0b0b0;
}

.wcm-changelog__status--removed {
	border: 1px solid #cf0039;
	color: #cf0039;
}

.wcm-changelog__status--security {
	border: 1px solid #4aa32c;
	color: #4aa32c;
}

.wcm-changelog__status--fixed {
	border: 1px solid #0064b4;
	color: #0064b4;
}
